

    <!-- Social Media Dock -->

    <div class="social-dock">

        <!-- LinkedIn -->
        <a
            href="https://www.linkedin.com/in/eneko-etxaniz/"
            target="_blank"
            aria-label="LinkedIn"
        >
            <i class="fa-brands fa-linkedin-in"></i>
        </a>


        <!-- GitHub -->
        <a
            href="https://github.com/Etxaniz100"
            target="_blank"
            aria-label="GitHub"
        >
            <i class="fa-brands fa-github"></i>
        </a>


        <!-- itch.io -->
        <a
            href="https://etxaniz100.itch.io/"
            target="_blank"
            aria-label="itch.io"
        >
            <i class="fa-brands fa-itch-io"></i>
        </a>

    </div>